services:
  backend:
    container_name: docker_backup_backend
    build: ./backend
    ports:
      - 8000:8000
    volumes:
      - /home/master/docker_backup/config.ini:/configs/params/config.ini:ro # config.ini from docker_backup engine
      - /home/master/docker_backup/docker.version:/configs/params/docker.version:ro # docker.versions
      - /home/master/docker_backup/result:/configs/params/result:ro # results: logs
      - /backupssh:/backupssh:ro # Backup target, to list files
      - /var/run/docker.sock:/var/run/docker.sock # Access to Docker socket to read data
      - /proc:/host/proc:ro # Access to system status
      - /sys:/host/sys:ro # Access to system status
      - /:/host/root:ro # Access to system status
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
    restart: unless-stopped

  frontend:
    container_name: docker_backup_frontend
    build: ./frontend
    ports:
      - "4173:4173"
    depends_on:
      - backend
    restart: unless-stopped
