services:

  backend:
    container_name: docker_backup_backend
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - /configs/params:/configs/params:ro
      - /backupssh:/backupssh:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - backend_data:/app
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
    restart: unless-stopped

  frontend:
    container_name: docker_backup_frontend
    build: ./frontend
    ports:
      - "4173:4173"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  backend_data:
